* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.select {
    width: 400px;
    margin: 20px auto;
}

button {
    padding: 7px;
    border: 2px solid rgb(144, 144, 144);
    border-radius: 5px;
    background-color: #fff;
    color: rgb(144, 144, 144);
    font-weight: bold;
    cursor: pointer;
}